# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [4]:
import pandas as pd
import datetime as dt
pd.set_option('display.max_colwidth', None)

df = pd.read_csv("jeopardy.csv")
df.rename(columns = {'Show Number':'show_number'}, inplace = True)
df.rename(columns = {'Air Date':'air_date'}, inplace = True)
df.rename(columns = {'Round':'Ayam'}, inplace = True)
df.columns = ['show_number', 'air_date', 'round', 'category', 'value', 'question', 'answer']
df.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [9]:
def data_filter(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data['question'].apply(filter)]
list = ["King", "England"]
filtered = data_filter(df, list)
filtered['question'].count()

49

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [8]:
def data_filter(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
#     filter = lambda x: all(word in x for word in words)
    return data.loc[data['question'].apply(filter)]
list = ["King", "England"]
filtered = data_filter(df, list)
filtered['question'].count()
# filtered['question']

152

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [12]:
df['flt_value'] = df['value'].replace('None','0', regex=True)
df['flt_value'] = df['flt_value'].replace(r'[\$,]','', regex=True)
df['flt_value'] = df['flt_value'].replace(',','', regex=True)
df['flt_value'] = pd.to_numeric(df['flt_value'])

# df['flt_value'] = df['value'].apply(lambda x: float(x[1:].replace(',','')) if x != 'None' else 0)
df
filtered = data_filter(df, ["King"])
filtered['flt_value'].mean()

788.6840432294978

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [13]:
def answers(data):
    return data['answer'].value_counts()

answers(filtered)

answer
Sweden                               19
Scotland                             11
Norway                               11
Denmark                              10
Morocco                              10
                                     ..
blood poisoning                       1
the Hundred Years' War                1
Warsaw                                1
the May King                          1
a pyramid (the pyramids accepted)     1
Name: count, Length: 1115, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [17]:
# df['date'] = df['air_date'].apply(lambda x: int(x[:4]))
df['air_date'] = pd.to_datetime(df['air_date'])
filtered = data_filter(df, ['Computer'])
# filtered
# include = df[df['Date'].dt.year == year]
komputer_1990 = filtered[filtered['air_date'].dt.year < 2000 ].count()
komputer_2000 = filtered[filtered['air_date'].dt.year >= 2000 ].count()
print(komputer_1990, komputer_2000)

show_number    8
air_date       8
round          8
category       8
value          8
question       8
answer         8
flt_value      8
dtype: int64 show_number    26
air_date       26
round          26
category       26
value          26
question       26
answer         26
flt_value      26
dtype: int64

In [18]:
df['round'].value_counts()

round
Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name: count, dtype: int64

In [23]:
# def round_filter(data, words):
#     filter = lambda x: all(word.lower() in x.lower() for word in words)
# #     filtered = data.loc[data['round'].apply(filter)]
#     return data.loc[data['round'].apply(filter)]
    
single = df[df['round'] == 'Jeopardy!']
double = df[df['round'] == 'Double Jeopardy!']
final = df[df['round'] == 'Final Jeopardy!']
tiebreaker = df[df['round'] == 'Tiebreaker']
list_df = [single, double, final, tiebreaker]
tiebreaker['round'].value_counts()
# df['round'].value_counts()

round
Tiebreaker    3
Name: count, dtype: int64

In [24]:
for item in list_df:
    print(item['category'].value_counts())

category
STUPID ANSWERS                  255
POTPOURRI                       255
SPORTS                          253
ANIMALS                         233
AMERICAN HISTORY                227
                               ...
ALL ABOUT CORN                    1
HAVE A CONTINENTAL BREAKFAST      1
SPORTS NUMBER, PLEASE             1
PLACES YOU FLY OVER               1
WHAT ARE YOU DOING LATER?         1
Name: count, Length: 15155, dtype: int64
category
BEFORE & AFTER                              450
LITERATURE                                  381
SCIENCE                                     296
WORLD GEOGRAPHY                             254
OPERA                                       250
                                           ...
THE NILE                                      1
MR. AVERAGE                                   1
THE NATIONAL MUSEUM OF HEALTH & MEDICINE      1
GOING TO THE LOO-VRE                          1
BRITS ALIVE!                                  1
Name: count, Length: 14576, dtype: int64
category
U.S. PRESIDENTS      50
WORD ORIGINS         34
STATE CAPITALS       31
AUTHORS              27
WORLD LEADERS        26
                     ..
O CANADA              1
FRENCH ARTISTS        1
GENESIS               1
AMERICAN CITIES       1
NATIONAL CAPITALS     1
Name: count, Length: 1952, dtype: int64
category
CHILD'S PLAY               1
THE AMERICAN REVOLUTION    1
LITERARY CHARACTERS        1
Name: count, dtype: int64

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.